.invoice .invoice-detail-item .invoice-detail-value {
    font-size: 18px;
    color: #34395e;
    font-weight: 700;
}
.invoice .invoice-detail-item .invoice-detail-name {
    letter-spacing: 0.3px;
    color: #08080a;
    margin-bottom: 4px;
}
.invoice .invoice-detail-item {
    margin-bottom: 15px;
}
.section .section-title {
    font-size: 18px;
    color: #191d21;
    font-weight: 600;
    position: relative;
    margin: 30px 0 25px 0;
}
.invoice {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    padding: 40px;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

.invoice .invoice-title .invoice-number {
    float: right;
    font-size: 20px;
    font-weight: 700;
    margin-top: -45px;
}
